:root {
	/*primary*/
	--very-dark-blue: hsl(243, 87%, 12%);
	--desaturated-blue: hsl(238, 22%, 44%);
	/*accents*/
	--bright-blue: hsl(224, 93%, 58%);
	--moderate-cyan: hsl(170, 45%, 43%);
	/*neutral*/
	--light-grayish-blue: hsl(240, 75%, 98%);
	--light-gray: hsl(0, 0%, 75%);
	/*headings, call-to-actions, header navigation*/
	--raleway: "Raleway", sans-serif;
	/*body*/
	--open-sans: "Open Sans", sans-serif;
}

/*general element styling*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
	font-family: var(--open-sans);
	text-align: center;
	background-image: url(/images/bg-curve-mobile.svg);
	background-repeat: no-repeat;
	background-position: top 800px right 0px;
}

h1 {
	font-size: 25px;
	font-weight: 700;
}

h2 {
	font-size: 15px;
	font-weight: 700;
	font-family: var(--raleway);
	margin-top: 70px;
	margin-bottom: 20px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 17px;
}

header {
 margin:20px;
}

/*header styling*/

#top-fylo-logo {
	width: 70px;
	padding-right: 43px;
	font-size: var(--raleway);
}

#header-buttons {
	padding-left: 40px;
	position: relative;
	top: -5px;
}

#features,
#team {
	padding-right: 15px;
	font-size: 12px;
}

#sign-in {
	font-size: 12px;
}

/*header styling end*/

/*top section styling*/

#top-section {
	margin: 0px 20px;
}

#folder-and-people {
	margin-top: 85px;
	width: 85%;
}

#fylo-stores {
	font-size: 13px;
	padding: 0px 25px;
}

#top-form {
	margin-top: 40px;
}

#email-text {
	width: 90%;
	height: 30px;
}

#first-submit-button {
	width: 92.3%;
	height: 35px;
	margin-top: 13px;
	background-color: var(--bright-blue);
	border: 1px solid var(--bright-blue);
	border-radius: 3px;
	color: white;
	font-family: var(--open-sans);
	font-weight: 700;
	font-size: 12px;
}

/*end of top section styling*/

/* second section styling*/

#second-section {
	margin: 0px  0px;
	background-color: var(--light-grayish-blue);
	margin-top: 154px;
}

#people-holding-documents {
	width: 85%;
	margin-top: 40px;
}

.productive-paragraphs {
	text-align: left;
	font-size: 13px;
	color: var(--desaturated-blue);
	padding: 0px 18px;
}

#fylo-button {
	margin: 20px 0px;
	border: none;
	background-color: white;
	border-bottom: 1px solid var(--moderate-cyan);
	line-height: 20px;
	color: var(--moderate-cyan);
}

#button-green-arrow {
	position: relative;
	top: 3px;
}

/*kyles card*/

#black-quotations {
	margin-bottom: 5px;
}

#kyle-card {
	display: block;
	margin: 0 auto;
	width: 75%;
	background-color: white;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.226);
	margin-top: 25px;
	margin-bottom: 80px;
	text-align: left;
	padding: 25px 25px 10px 25px;
	line-height: 20px;
}

#kyle-card-text {
	margin-top: 0px;
	font-weight: 400;
	font-size: 11px;
}

#kyle-avatar {
	border-radius: 50%;
	width: 23px;
	margin-right: 10px;
	align-self: center;
}

#avatar-and-name {
	display: flex;
	flex-direction: row;
	position: relative;
	top: -10px;
}

#avatar-and-name p {
	margin: 0px;
}



#kyles-name {
	font-weight: 700;
	position: relative;
	top: 5px;
	font-size: 10px;
}

#huddle {
	font-size: 6px;
}



/*kyles card end*/
/*end of second section styling*/

/* desaturated blue section */

#desaturated-blue-section {
	background-color: var(--desaturated-blue);
	padding: 20px;
	color: var(--light-grayish-blue);
	font-size: 15px;
	font-family: var(--raleway);
	padding: 20px;
	margin: 0px;
	line-height: 20px;
}

#get-access-blurb {
	padding: 20px;
	margin: 0;
}

#bottom-form {
	margin-bottom: 40px;
	padding: 0px 15px;
	
}

#email-text-two {
	width: 80.5%;
	height: 35px;
	border-radius: 3px;
	border: none;
}

#bottom-submit-button {
	width: 82.3%;
	height: 35px;
	margin-top: 13px;
	background-color: var(--bright-blue);
	border: 1px solid var(--bright-blue);
	border-radius: 3px;
	color: white;
	font-family: var(--open-sans);
	font-weight: 700;
	font-size: 10px;
	position: relative;
	top: -5px;
}
/*end of desaturated blue section*/

/*start of dark blue section*/

#bottom-fylo-logo {
margin-top: 60px;
margin-bottom: 20px;
}

#dark-blue-section {
	background-color: var(--very-dark-blue);
	padding: 20px;
	text-align: left;
	padding: 0px 40px 50px 40px;
	color: white;
}

#white-gmail-icon {
	align-self: center;
	justify-self: center;
	margin-right: 15px;
}

#white-phone-icon {
	margin-right: 15px;
}

#gmail-and-email {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}

#dark-blue-section a {
	color: white;
	display: block;
	text-decoration: none;
}

#bottom-links a {
	margin: 17px 0px 0px 0px;
}

#blog-button {
	margin-bottom: 50px;
}

/*social links start*/

#social-links {
	margin-top: 50px;
	text-align: center;
}

.social-button {
	border: 1px solid white;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color:transparent;
	margin-right: 10px;
}

.fa-brands {
	font-size: 16px;
	color: white;
}

/*social links end*/

.white-phone-icon {
	fill: white;
}

/*end of dark blue section*/

footer {
	background-color: var(--very-dark-blue);
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: white;
}
.attribution a {
	color: white;
}

@media (min-width:1440px) {
	b {

	}
}