:root {
  /*primary*/
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /*accents*/
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /*neutral*/
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  /*headings, call-to-actions, header navigation*/
  --raleway: "Raleway", sans-serif;
  /*body*/
  --open-sans: "Open Sans", sans-serif;
}

/*general element styling*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 20px;
  font-family: var(--open-sans);
  text-align: center;
}

h1 {
    font-size: 25px;
    font-weight: 700;
}

/*header styling*/

#top-fylo-logo {
    width: 70px;
    padding-right: 43px;
    font-size: var(--raleway);
}

#header-buttons {
    padding-left: 40px;
    position: relative;
    top: -5px;
}


#features, #team {
    padding-right: 15px;
    font-size: 12px;
}

#sign-in {
    font-size: 12px;
}

/*header styling end*/

/*top section styling*/



#folder-and-people {
    margin-top: 85px;
    width: 85%;
}

#fylo-stores {
    font-size: 13px;
    padding: 0px 25px;
}

/*end of top section styling*/


/* second section styling*/

#people-holding-documents{
    width: 85%;
    margin-top: 105px;
}

#kyle-avatar {
border-radius: 50%;
width: 40px;
}

/*end of second section styling*/

#desaturated-blue-section{
  background-color: var(--desaturated-blue);
  padding: 20px;
}

#dark-blue-section {
  background-color: var(--very-dark-blue);
  padding: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
